* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: #18222D;
}

.main_container {
    color: #FFF;
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: visible;
    justify-content: center;
    align-items: center;

    .houses_container {
        display: flex;
        position: relative;
        width: 1px;
        height: 1px;
        overflow: visible;
        display: flex;
        justify-content: center;
        align-items: center;

        .house_container {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            
            .house_emoji {
                font-size: 7vh;
                position: absolute;
            }
        }

        .triggered_house {
            animation: triggered 0.15s ease-in-out;
        }
    }
}

.main_cursor {
    position: absolute;
    width: 21vh;
    height: 21vh;

    border: dashed 0.3vh rgb(255,255,255,0.1);
    border-radius: 100%;
}

@keyframes triggered {
    0% {
        scale: 1 1;
    }

    50% {
        scale: 0.5 2;

    }

    100% {
        scale: 1 1;

    }
}